table {
    min-width: 800px;
}

th, td {
    white-space: nowrap;
}

td.actions {
    width: 150px;
}

.modal-backdrop {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.modal-backdrop.show {
    opacity: 0.5;
}

.table tr {
    transition: transform 0.3s ease;
}
.table tr.deleted {
    transform: translateX(100%);
    opacity: 0;
}